<div class="footer">
    <div class="policy">
         <a href="#">Terms of Service</a>
         <a href="#">Privacy Policy</a>
         <a href="#">Cookie Policy</a>
     </div>
     <div class="policy2">
         <a href="#">Contact Information</a>
         <a href="#">Accessibility</a>
         <a href="#">Advertising information</a>
     </div>
    <div class="policy3">
        <a href="More ..."></a>
        <span>© @((DateTime.Now).ToString("yyy")) Twitter, Inc.</span>
    </div>
</div>