<div class="explore1">
    <form asp-controller="Search" asp-action="Index" method="POST">
        <div class="search1">
            <input type="text" placeholder="&#xF002 Search in Twitter" style="font-family:Arial, FontAwesome" name="query">
        </div>
    </form>
    <div class="searchbg">
        <div class="list">
            <li>
                <a href="">Popular</a>
                <a href="">Latest</a>
                <a href="">Contacts</a>
                <a href="">Photos</a>
                <a href="">Videos</a>                
            </li>
        </div>
    </div>
</div>

