<div class="tweetinterest">
    <div class="top">
        <h6>Topics you may be interested in<i class="fas fa-cog"></i></h6>
    </div>
    <div class="toptrend">
        <li>
            <div class="tr">
                <a href="">Turkey's the agenda</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Berlin</a>
                <a href="">41,5 K Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Turkey's the agenda</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Berlin</a>
                <a href="">41,5 K Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Turkey's the agenda</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Berlin</a>
                <a href="">41,5 K Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Turkey's the agenda</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Berlin</a>
                <a href="">41,5 K Tweet</a>
            </div>
        </li>
        <li>
            <div class="tr">
                <a href="">Turkey's the agenda</a>
                <a href="">...</a>
            </div>
            <div class="tweetsec">
                <a href="">Berlin</a>
                <a href="">41,5 K Tweet</a>
            </div>
        </li>
        <li class="endmore">
            <div class="more">
                <a href="">Show more</a>
            </div>
        </li>
    </div>
</div>